/* ##### Accordion ##### */

.accordion .panel-group > .panel {
  border-color: #62acd6;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.accordion .panel-group > .panel > .panel-heading {
  padding: 0px;
  background-color: #3996cc;
  border-color: #3996cc;
  border-radius: 0px;
}

.accordion .panel-group > .panel > .panel-heading > .panel-title > a {
  display: inline-block;
  padding: 10px 15px;
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.accordion .panel-group > .panel > .panel-heading > .panel-title > a.collapsed {
  font-weight: 400;
}

.accordion .panel-group > .panel > .panel-collapse > .panel-body {
  background-color: #fff;
  border-color: #62acd6;
}

.accordion .panel-group > .panel > .panel-collapse > .panel-body > p {
  color: #222;
  font-size: 14px;
  margin-bottom: 0px;
}

.accordion .panel-group .panel + .panel {
  margin-top: 2px;
}


/* ##### Accordion Style One ##### */

.accordion.style-one .panel-group > .panel > .panel-heading > .panel-title > a:after {
  position: absolute;
  right: 30px;
  font-family: FontAwesome;
  font-weight: 400;
  font-size: 18px;
  content: "\f068";
  text-decoration: inherit;
}

.accordion.style-one .panel-group > .panel > .panel-heading > .panel-title > a.collapsed:after {
  content: "\f067";
}


/* ##### Accordion Style Two ##### */

.accordion.style-two .panel-group > .panel > .panel-heading > .panel-title > a {
  padding: 10px 30px;
}

.accordion.style-two .panel-group > .panel > .panel-heading > .panel-title > a:before {
  position: absolute;
  left: 30px;
  font-family: FontAwesome;
  font-weight: 400;
  font-size: 18px;
  content: "\f0d7";
  text-decoration: inherit;
}

.accordion.style-two .panel-group > .panel > .panel-heading > .panel-title > a.collapsed:before {
  content: "\f0da";
}


/* ##### Accordion Style Three ##### */

.accordion.style-three .panel-group {
  border-top: 1px solid #222;
}

.accordion.style-three .panel-group > .panel {
  border: none;
  border-bottom: 1px solid #222;
}

.accordion.style-three .panel-group > .panel > .panel-heading {
  background-color: #fff;
}

.accordion.style-three .panel-group > .panel > .panel-heading > .panel-title > a {
  color: #222;
}

.accordion.style-three .panel-group > .panel > .panel-heading > .panel-title > a:after {
  font-family: FontAwesome;
  content: "\f068";
  text-decoration: inherit;
  font-size: 18px;
  position: absolute;
  right: 30px;
}

.accordion.style-three .panel-group > .panel > .panel-heading > .panel-title > a.collapsed:after {
  content: "\f067";
}

.accordion.style-three .panel-group > .panel > .panel-collapse > .panel-body {
  border-color: #eee;
}

.accordion.style-three .panel-group .panel + .panel {
  margin-top: 0px;
}


/* ##### Accordion Style Four ##### */

.accordion.style-four .panel-group {
  border-top: 1px solid #222;
}

.accordion.style-four .panel-group > .panel {
  border: none;
  border-bottom: 1px solid #222;
}

.accordion.style-four .panel-group > .panel > .panel-heading {
  background-color: #fff;
}

.accordion.style-four .panel-group > .panel > .panel-heading > .panel-title > a {
  padding: 10px 30px;
  color: #222;
}

.accordion.style-four .panel-group > .panel > .panel-heading > .panel-title > a:before {
  position: absolute;
  left: 30px;
  font-family: FontAwesome;
  font-weight: 400;
  font-size: 18px;
  content: "\f0d7";
  text-decoration: inherit;
}

.accordion.style-four .panel-group > .panel > .panel-heading > .panel-title > a.collapsed:before {
  content: "\f0da";
}

.accordion.style-four .panel-group > .panel > .panel-collapse > .panel-body {
  border-color: #eee;
}

.accordion.style-four .panel-group .panel + .panel {
  margin-top: 0px;
}
