/* ##### Countdown ##### */

.cd-content .cd-element {
  border-bottom: 1px solid #3996cc;
  padding-bottom: 15px;
}

.cd-content .cd-element > .cd-value {
  color: #3996cc;
  font-size: 40px;
  font-weight: 300;
}

@media (min-width: 359px) {
  .cd-content .cd-element > .cd-value {
    font-size: 60px;
  }
}

.cd-content .cd-element > .cd-label {
  color: #b7ada4;
  font-size: 20px;
  font-weight: 300;
}

@media (min-width: 359px) {
  .cd-content .cd-element > .cd-label {
    font-size: 30px;
  }
}