*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #f2f4f4;
  font-family: 'Lato', sans-serif;
  color: #222222;
  overflow-x: hidden;
}

a {
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  margin: 0 0 15px;
}


/* ##### General Class ##### */

a.btn.btn-custom,
button.btn.btn-custom {
  background-color: #3996cc;
  color: #fff;
  border-color: #4da1d1;
  text-transform: uppercase;
}

a.btn.btn-custom:hover,
button.btn.btn-custom:hover,
a.btn.btn-custom:focus,
button.btn.btn-custom:focus {
  color: #fff;
  background-color: #3088bb;
}

.delayp1 {
  animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-delay: .1s;
  -o-animation-delay: .1s;
  transition-delay: .1s;
  -webkit-transition-delay: .1s;
  -moz-transition-delay: .1s;
  -o-transition-delay: .1s;
}

.delayp2 {
  animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-delay: .2s;
  -o-animation-delay: .2s;
  transition-delay: .2s;
  -webkit-transition-delay: .2s;
  -moz-transition-delay: .2s;
  -o-transition-delay: .2s;
}

.delayp3 {
  animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-delay: .3s;
  -o-animation-delay: .3s;
  transition-delay: .3s;
  -webkit-transition-delay: .3s;
  -moz-transition-delay: .3s;
  -o-transition-delay: .3s;
}

.delayp4 {
  animation-delay: .4s;
  -moz-animation-delay: .4s;
  -webkit-animation-delay: .4s;
  -o-animation-delay: .4s;
  transition-delay: .4s;
  -webkit-transition-delay: .4s;
  -moz-transition-delay: .4s;
  -o-transition-delay: .4s;
}

.delayp5 {
  animation-delay: .5s;
  -moz-animation-delay: .5s;
  -webkit-animation-delay: .5s;
  -o-animation-delay: .5s;
  transition-delay: .5s;
  -webkit-transition-delay: .5s;
  -moz-transition-delay: .5s;
  -o-transition-delay: .5s;
}

.section {
  background-color: #f2f4f4;
}

.section > .section-inner {
  position: relative;
}

.section > .section-inner > .section-content {
  padding-top: 50px;
  padding-bottom: 60px;
}

@media (min-width: 1023px) {
  .section > .section-inner > .section-content {
    padding-top: 60px;
    padding-bottom: 80px;
  }
}

.section > .section-inner > .section-content .section-title {
  color: #222;
  text-transform: uppercase;
  padding-bottom: 40px;
}

@media (min-width: 1023px) {
  .section > .section-inner > .section-content .section-title {
    padding-bottom: 60px;
  }
}

.section > .section-inner > .section-content .section-title > .main-title {
  font-size: 35px;
  font-weight: 300;
}

@media (min-width: 479px) {
  .section > .section-inner > .section-content .section-title > .main-title {
    font-size: 45px;
  }
}

@media (min-width: 599px) {
  .section > .section-inner > .section-content .section-title > .main-title {
    font-size: 55px;
  }
}

@media (min-width: 767px) {
  .section > .section-inner > .section-content .section-title > .main-title {
    font-size: 60px;
  }
}

.section > .section-inner > .section-content .section-title > .sub-title {
  font-size: 20px;
  font-weight: 300;
}

@media (min-width: 479px) {
  .section > .section-inner > .section-content .section-title > .sub-title {
    font-size: 25px;
  }
}

.section > .section-inner > .section-content .section-line {
  display: inline-block;
  width: 50px;
  height: 1px;
  background-color: #222;
}

.section.section-bgtype-image {
  background-color: #222;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.section.section-bgtype-image > .section-inner > .bg-overlay {
  content: '';
  position: absolute;
  background-color: #000;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  zoom: 1;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=80)";
}

.section.section-bgtype-image > .section-inner > .section-content .section-title {
  color: #b7ada4;
}

.section.section-bgtype-image > .section-inner > .section-content .section-title > .section-line {
  background-color: #b7ada4;
}


/* ##### Page Loader ##### */

#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #fff;
}

#loader .preload {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -64px;
  margin-left: -64px;
}


/* ##### Navbar ##### */

.navbar.navbar {
  position: relative;
  margin: 0;
  border: 0;
}

@media (min-width: 767px) {
  .navbar.navbar {
    -webkit-transition: background 0.3s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.3s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.3s ease-in-out, padding 0.5s ease-in-out;
  }
}

.navbar.navbar .navbar-brand {
  color: #fff;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.navbar.navbar .navbar-brand:hover {
  color: #fff;
}

.navbar.navbar .navbar-nav > li > a {
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
}

.navbar.navbar .navbar-nav > li > a > i.fa-angle-down {
  padding-left: 2px;
}

.navbar.navbar .navbar-nav > li > a:hover {
  color: #3996cc;
}

.navbar.navbar .navbar-nav > li.active a,
.navbar.navbar .navbar-nav > li.active a:hover {
  background-color: #3996cc;
  color: #fff;
}

@media (min-width: 767px) {
  .navbar.navbar .navbar-nav > li.active a,
  .navbar.navbar .navbar-nav > li.active a:hover {
    background-color: #f2f4f4;
    background-repeat: repeat;
    color: #222;
  }
}


/* ##### Sidebar ##### */

#sidebar-wrapper {
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: #222;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 2000;
  opacity: 0.98;
  filter: alpha(opacity=98);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=98)";
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

#sidebar-wrapper > .sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#sidebar-wrapper > .sidebar-nav > li {
  height: 35px;
  line-height: 35px;
  text-indent: 20px;
}

#sidebar-wrapper > .sidebar-nav > li > a {
  display: block;
  color: #f5f5f5;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid #363636;
}

#sidebar-wrapper > .sidebar-nav > li > a:hover {
  color: #f5f5f5;
  background: rgba(57, 150, 204, 0.9);
  text-decoration: none;
}

#sidebar-wrapper > .sidebar-nav > li > a:active,
#sidebar-wrapper > .sidebar-nav > li > a:focus {
  text-decoration: none;
}

#sidebar-wrapper > .sidebar-nav > li.sidebar-brand {
  background-color: #3996cc;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #363636;
}

#sidebar-wrapper > .sidebar-nav > li.toogle-wrapper {
  position: absolute;
  line-height: 0px;
  text-indent: 0px;
  top: 8px;
  right: 8px;
}

#sidebar-wrapper > .sidebar-nav > li.toogle-wrapper > a {
  border: none;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}


/* ##### Counters Section ##### */

#counters {
  background-image: url("../../img/bg-counters.jpg");
  background-position: bottom center;
}


/* ##### Charts Section ##### */

#charts {
  background-image: url("../../img/bg-charts.jpg");
}


/* ##### Testimonials Section ##### */

#testimonial {
  background-image: url("../../img/bg-testimonials.jpg");
}


/* ##### Countdown Section ##### */

#countdown {
  background-image: url("../../img/bg-countdown.jpg");
}

#countdown .countdown-form {
  margin-top: 60px;
}

@media (min-width: 359px) {
  #countdown .countdown-form {
    margin-top: 70px;
  }
}

#countdown .countdown-form form > .input-group > span.input-group-btn > .btn {
  padding-top: 11px;
  padding-bottom: 10px;
}

#countdown .countdown-text {
  margin-top: 50px;
}

#countdown .countdown-text > p {
  color: #b7ada4;
}


/* ##### Footer ##### */

footer.footer {
  background-color: #1c1c1c;
  border-top: 1px solid #363636;
  color: #888;
}

footer.footer a {
  color: #c9c9c9;
}

footer.footer a:hover {
  color: #ffffff;
}

footer.footer #footer {
  background-color: #1c1c1c;
  padding-top: 50px;
  padding-bottom: 20px;
}

footer.footer #footer .footer-column.not-right-column {
  margin-bottom: 50px;
}

@media (min-width: 767px) {
  footer.footer #footer .footer-column.not-right-column {
    margin-bottom: 0px;
  }
}

footer.footer #footer .footer-column .footer-text {
  text-align: center;
}

@media (min-width: 767px) {
  footer.footer #footer .footer-column .footer-text {
    text-align: left;
  }
}

footer.footer #footer h4 {
  color: #c9c9c9;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 0.2em;
}

footer.footer #footer p {
  font-size: 14px;
  margin-bottom: 20px;
}

footer.footer #footer ul.icon-list > li {
  padding-bottom: 10px;
}

footer.footer #footer ul.icon-list > li > i {
  padding-right: 10px;
}

footer.footer #footer ul.social-icon-list > li {
  padding-bottom: 10px;
}

footer.footer #footer ul.social-icon-list > li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #c9c9c9;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

footer.footer #footer ul.social-icon-list > li a:hover {
  border-color: #ffffff;
}

footer.footer #footer .newsletter-form input {
  background-color: transparent;
  border-color: #888;
}

footer.footer #copyright {
  background-color: #161616;
  padding: 15px 0px;
  border-top: 1px solid rgba(114, 114, 114, 0.25);
}

footer.footer #copyright p {
  font-size: 13px;
  text-align: center;
  margin: 0px;
}

@media (min-width: 767px) {
  footer.footer #copyright p {
    text-align: left;
  }
}