/* ##### Error 404 Page ##### */

.error404-text > h1 {
  color: #3996cc;
  font-size: 120px;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media (min-width: 767px) {
  .error404-text > h1 {
    font-size: 220px;
  }
}

.error404-text > h2 {
  font-size: 30px;
  font-weight: 300;
  margin-top: 0px;
}

.error404-text a {
  margin-top: 30px;
  font-size: 15px;
}