/* ##### Fancy Table ##### */

.table.table-custom > caption {
  color: #111;
  font-weight: 700;
  padding-bottom: 2px;
}

.table.table-custom > thead > tr > th {
  color: #fff;
}

.table.table-custom > tbody > tr > td {
  background-color: #f2f2f4;
  color: #24242a;
  border-top: 1px solid #d6d6dd;
}

.table.table-striped.table-custom > tbody > tr > td {
  background-color: #f2f2f4;
}

.table.table-striped.table-custom > tbody > tr:nth-child(even) > td {
  background-color: #f8f8f9;
}

.table.table-hover.table-custom > tbody > tr:hover > td {
  background-color: #e4e4e8;
  cursor: pointer;
}

.table.table-bordered.table-custom {
  border-bottom: none;
}

.table.table-bordered.table-custom > tbody > tr > td {
  border: 1px solid #d6d6dd;
}


/* ##### Fancy Table Blue ##### */

.table.table-custom.table-blue {
  border-bottom: 2px solid #3996cc;
}

.table.table-custom.table-blue > thead {
  background-color: #3996cc;
}

.table.table-custom.table-blue > thead > tr > th {
  border-bottom: 2px solid #3088bb;
}

.table.table-bordered.table-custom.table-blue {
  border-bottom: none;
}

.table.table-bordered.table-custom.table-blue > thead > tr > th {
  border: 1px solid #59a7d4;
}


/* ##### Fancy Table Grey ##### */

.table.table-custom.table-grey {
  border-bottom: 2px solid #636363;
}

.table.table-custom.table-grey > thead {
  background-color: #636363;
}

.table.table-custom.table-grey > thead > tr > th {
  border-bottom: 2px solid #565656;
}

.table.table-bordered.table-custom.table-grey {
  border-bottom: none;
}

.table.table-bordered.table-custom.table-grey > thead > tr > th {
  border: 1px solid #777777;
}


/* ##### Fancy Table Green  ##### */

.table.table-custom.table-green {
  border-bottom: 2px solid #47a447;
}

.table.table-custom.table-green > thead {
  background-color: #47a447;
}

.table.table-custom.table-green > thead > tr > th {
  border-bottom: 2px solid #3f923f;
}

.table.table-bordered.table-custom.table-green {
  border-bottom: none;
}

.table.table-bordered.table-custom.table-green > thead > tr > th {
  border: 1px solid #5cb85c;
}


/* ##### Fancy Table Aqua ##### */

.table.table-custom.table-aqua {
  border-bottom: 2px solid #39b3d7;
}

.table.table-custom.table-aqua > thead {
  background-color: #39b3d7;
}

.table.table-custom.table-aqua > thead > tr > th {
  border-bottom: 2px solid #29a8cd;
}

.table.table-bordered.table-custom.table-aqua {
  border-bottom: none;
}

.table.table-bordered.table-custom.table-aqua > thead > tr > th {
  border: 1px solid #5bc0de;
}


/* ##### Fancy Table Orange ##### */

.table.table-custom.table-orange {
  border-bottom: 2px solid #ed9c28;
}

.table.table-custom.table-orange > thead {
  background-color: #ed9c28;
}

.table.table-custom.table-orange > thead > tr > th {
  border-bottom: 2px solid #e89113;
}

.table.table-bordered.table-custom.table-orange {
  border-bottom: none;
}

.table.table-bordered.table-custom.table-orange > thead > tr > th {
  border: 1px solid #f0ad4e;
}


/* ##### Fancy Table Red ##### */

.table.table-custom.table-red {
  border-bottom: 2px solid #d2322d;
}

.table.table-custom.table-red > thead {
  background-color: #d2322d;
}

.table.table-custom.table-red > thead > tr > th {
  border-bottom: 2px solid #bd2d29;
}

.table.table-bordered.table-custom.table-red {
  border-bottom: none;
}

.table.table-bordered.table-custom.table-red > thead > tr > th {
  border: 1px solid #d9534f;
}