/* ##### Portfolio ##### */

.portfolio-item {
  padding: 1px;
}

.portfolio-item > .inner-content {
  position: relative;
  display: block;
  overflow: hidden;
}

.portfolio-item > .inner-content:hover {
  cursor: pointer;
}

.portfolio-item > .inner-content:hover > .portfolio-content {
  display: block;
}

.portfolio-item > .inner-content > .portfolio-content {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: #000;
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=70)";
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.portfolio-item > .inner-content > .portfolio-content > .portfolio-detail {
  text-align: center;
  display: table;
  width: 100%;
  height: 100%;
}

.portfolio-item > .inner-content > .portfolio-content > .portfolio-detail > .portfolio-text {
  display: table-cell;
  vertical-align: middle;
  padding: 0 15px;
  color: #fff;
  letter-spacing: 0.2em;
}

.portfolio-item > .inner-content > .portfolio-content > .portfolio-detail > .portfolio-text h4 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
}

.portfolio-item > .inner-content > .portfolio-content > .portfolio-detail > .portfolio-text p {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 0px;
}

.portfolio-item > .inner-content > img {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}


/* ##### Portfolio Grow Effect ##### */

.portfolio-item.grow > .inner-content:hover > img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}


/* ##### Portfolio Grow Rotate Effect ##### */

.portfolio-item.grow-rotate > .inner-content:hover > img {
  -webkit-transform: scale(1.2) rotate(4deg);
  transform: scale(1.2) rotate(4deg);
}


/* ##### Portfolio Shrink Effect ##### */
.portfolio-item.shrink > .inner-content:hover > img {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.portfolio-item.shrink > .inner-content > img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}


/* ##### Portfolio Shrink Rotate Effect ##### */

.portfolio-item.shrink-rotate > .inner-content:hover > img {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}

.portfolio-item.shrink-rotate > .inner-content > img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}


/* ##### Portfolio Float Effect ##### */

.portfolio-item.float > .inner-content:hover > .portfolio-content {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.portfolio-item.float > .inner-content > .portfolio-content {
  display: block;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}


/* ##### Portfolio Sink Effect ##### */

.portfolio-item.sink > .inner-content:hover > .portfolio-content {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.portfolio-item.sink > .inner-content > .portfolio-content {
  display: block;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}


/* ##### Portfolio Bubble Top Effect ##### */

.portfolio-item.bubble-top > .inner-content {
  background-color: #000;
}

.portfolio-item.bubble-top > .inner-content:hover .portfolio-content {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.portfolio-item.bubble-top > .inner-content:hover .portfolio-content:after {
  bottom: 100%;
}

.portfolio-item.bubble-top > .inner-content:hover > img {
  -webkit-transform: translateY(-40%);
  transform: translateY(-40%);
}

.portfolio-item.bubble-top > .inner-content .portfolio-content {
  display: block;
  height: 40%;
  top: 100%;
  opacity: 1;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.portfolio-item.bubble-top > .inner-content .portfolio-content:after {
  left: 50%;
  bottom: 0%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #000;
  border-width: 15px;
  margin-left: -15px;
}

.portfolio-item.bubble-top > .inner-content > img {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}


/* ##### Portfolio Bubble Bottom Effect ##### */

.portfolio-item.bubble-bottom > .inner-content {
  background-color: #000;
}

.portfolio-item.bubble-bottom > .inner-content:hover .portfolio-content {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.portfolio-item.bubble-bottom > .inner-content:hover .portfolio-content:after {
  top: 100%;
}

.portfolio-item.bubble-bottom > .inner-content:hover > img {
  -webkit-transform: translateY(40%);
  transform: translateY(40%);
}

.portfolio-item.bubble-bottom > .inner-content .portfolio-content {
  display: block;
  height: 40%;
  top: -40%;
  opacity: 1;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.portfolio-item.bubble-bottom > .inner-content .portfolio-content:after {
  top: 0%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #000;
  border-width: 20px;
  margin-left: -20px;
}

.portfolio-item.bubble-bottom > .inner-content > img {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}


/* ##### Portfolio Pop Effect ##### */

.portfolio-item.pop > .inner-content:hover > img {
  -webkit-animation-name: pop;
  animation-name: pop;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.portfolio-item.pop > .inner-content > img {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

@-webkit-keyframes pop {
  50% {
    -webkit-transform: scale(1.3) rotate(4deg);
    transform: scale(1.3) rotate(4deg);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pop {
  50% {
    -webkit-transform: scale(1.3) rotate(4deg);
    transform: scale(1.3) rotate(4deg);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}