/* ##### Pricing Tables ##### */

.pricing-table .pricing-wrapper > .pricing-column > .plan-title {
  display: block;
  background-color: #1d1d1d;
  color: #fff;
}

.pricing-table .pricing-wrapper > .pricing-column > .plan-title > h2 {
  display: block;
  margin: 0;
  height: 74px;
  line-height: 74px;
  background-color: #3996cc;
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.pricing-table .pricing-wrapper > .pricing-column > .plan-title > .pricing-box {
  padding: 30px;
  height: 216px;
  border-bottom: 3px solid #3996cc;
}

.pricing-table .pricing-wrapper > .pricing-column > .plan-title > .pricing-box > .price {
  position: relative;
  display: inline-block;
  padding: 0 0 0 10px;
  color: #fff;
  font-size: 100px;
  font-weight: 300;
  line-height: 100px;
}

.pricing-table .pricing-wrapper > .pricing-column > .plan-title > .pricing-box > .price > .symbol {
  position: absolute;
  top: -25px;
  left: 0;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
}

.pricing-table .pricing-wrapper > .pricing-column > .plan-title > .pricing-box > .month {
  position: relative;
  display: inline-block;
  bottom: 0px;
  left: 0px;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
}

.pricing-table .pricing-wrapper > .pricing-column > .plan-title > .pricing-box > .price-info {
  margin-top: 20px;
  font-size: 13px;
  font-style: italic;
  color: #aaa;
}

.pricing-table .pricing-wrapper > .pricing-column > .item-list {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

.pricing-table .pricing-wrapper > .pricing-column > .item-list > li {
  display: block;
  padding: 20px 15px;
  font-size: 16px;
  list-style-type: none;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}

.pricing-table .pricing-wrapper > .pricing-column > .plan-footer {
  background-color: #f6f6f6;
  padding: 20px 10px;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}

.pricing-table .pricing-wrapper.not-right-column {
  margin-bottom: 50px;
}
@media (min-width: 1023px) {
  .pricing-table .pricing-wrapper.not-right-column {
    margin-bottom: 0px;
  }
}


/* ##### Pricing Tables Style One ##### */


/* ##### Pricing Tables Style Two ##### */

@media (min-width: 767px) {
    .pricing-table.style-two .pricing-wrapper {
      padding: 0px;
      box-shadow: 0 0 13px rgba(0, 0, 0, 0.2);
    }
}

@media (min-width: 767px) {
  .pricing-table.style-two .pricing-wrapper > .pricing-column > .item-list > li {
    border-right: none;
    border-left: none;
  }
}

@media (min-width: 767px) {
  .pricing-table.style-two .pricing-wrapper > .pricing-column > .plan-footer {
    border-right: none;
    border-left: none;
  }
}


/* ##### Pricing Tables Style Three ##### */

@media (min-width: 767px) {
  .pricing-table.style-three .pricing-wrapper {
    padding: 0px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 1023px) {
  .pricing-table.style-three .pricing-wrapper {
    margin-top: 25px;
  }
}

@media (min-width: 1023px) {
  .pricing-table.style-three .pricing-wrapper.recomended {
    margin-top: 1px;
  }
}

@media (min-width: 767px) {
  .pricing-table.style-three .pricing-wrapper.recomended > .pricing-column > .item-list > li {
    border-right: none;
    border-left: none;
  }
}

@media (min-width: 767px) {
  .pricing-table.style-three .pricing-wrapper.recomended > .pricing-column > .plan-footer {
    border-right: none;
    border-left: none;
  }
}

@media (min-width: 1023px) {
  .pricing-table.style-three .pricing-wrapper.recomended > .pricing-column > .plan-footer {
    padding: 32px 10px;
  }
}


/* ##### Pricing Tables Style Four ##### */

@media (min-width: 767px) {
  .pricing-table.style-four .pricing-wrapper {
    padding: 0px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 767px) {
  .pricing-table.style-four .pricing-wrapper > .pricing-column > .item-list > li {
    border-right: none;
    border-left: none;
  }
}

.pricing-table.style-four .pricing-wrapper > .pricing-column > .item-list > li > i {
  font-size: 20px;
}

.pricing-table.style-four .pricing-wrapper > .pricing-column > .item-list > li > i.fa-check {
  color: #7ea95e;
}

.pricing-table.style-four .pricing-wrapper > .pricing-column > .item-list > li > i.fa-times {
  color: #8d1c31;
}

@media (min-width: 767px) {
  .pricing-table.style-four .pricing-wrapper > .pricing-column > .plan-footer {
    border-right: none;
    border-left: none;
  }
}

.pricing-table.style-four .pricing-wrapper.features {
  box-shadow: none;
}

.pricing-table.style-four .pricing-wrapper.features > .pricing-column > .item-list {
  border-top: 3px solid #3996cc;
  margin-top: 287px;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.2);
}