/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "mixins";
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Roboto);
$primary: #00579E;
// $primary: rgba(216, 207, 131, 1);
// $secondary: $primary;
$secondary: #009688;
$dark-color :#515862;
$nav: #F16C21;
$text: #5a5a5a;
$anchor: #ddd;
$semi-w: rgba(255, 255, 255, 0.8);
$semi-b: rgba(47, 47, 47, 0.5);
$nav-font: 'Noto', sans-serif;
$title-font: 'Roboto Slab', sans-serif;
$subtitle-font: 'Roboto', sans-serif;
$text-font: 'Armanta', sans-serif;
$text-font2: 'Exo 2', sans-serif;


//@import "head";
@import "features";
@import "style";
// $dfallback: ;
.center {
	text-align: center !important;
}




///// SCROLL UP ///////
.scroll-up {
	border-style: solid;
	border-width: 0 0 48px 48px;
	border-color: transparent transparent rgba(27, 18, 18, 0.6) transparent;
	position: fixed;
	// display: none;
	right: 0px;
	bottom: 0px;
	width: 0;
	height: 0;
	z-index: 999;
	-webkit-transition: -webkit-transform 0.8s ease-in-out;
	-moz-transition: -moz-transform 0.8s ease-in-out;
	-o-transition: -o-transform 0.8s ease-in-out;
	transition: transform 0.8s ease-in-out;
}

.scroll-up a {
	position: relative;
	display: inline-block;
	padding: 22px;
	bottom: 0px;
	left: -44px;
	font-size: 18px;
	color: #FFF;
}

.scroll-up a:hover {
	color: #00579E;
}



// SLIDER //
.slider {
	height: 600px;
	width: 100% !important;
	overflow: hidden;
	box-shadow: inset 0px 2px 2px #ddd;
	@include mobile{
		height: 90vh;
	}
	.owl-carousel {
		text-align: center;
		height: inherit;
		color: #fff;

		.owl-item {
			height: 700px;
			padding-top: 200px;
			text-shadow: 1px 1px 1px #5a5a5a;
			background-color: rgba(47, 47, 47, 0.4);
			@include tab{
				height: 80vh;
				padding-top:10vh;
			}

			img {
				width: 100px;
				margin: 50px;
			}
		}
	}
}




////////// DROPDOWN MENU /////////
.dropdown-menu {
	width: 800px !important;
	margin-left: -90px;
}
.equal-height-list {
	border-right: 1px solid #ddd;
	padding-left: 10px !important;

	li {
		margin: 5px auto;
		width: 120%;

		a {
			padding: 5px 10px !important;
			margin: 0 !important;
		}
	}
}

#page {
	background-color: #fff;
}

///////// OUR SERVICES /////////

 .funny-box .funny-box-text ul {
	 position: relative;
	 padding-bottom: 25px;
	 font-size: 25px;
	 text-transform: uppercase;
	 letter-spacing: 0.2em;
	 padding: 0;

 }

 ///////// OUR COURSES ///////////

 .pricing-table .pricing-wrapper > .pricing-column > .plan-title > h2 {
	 display: block;
	 margin: 0;
	 height: 74px;
	 line-height: 74px;
	 background-color: #00579E;
	 color: #fff;
	 font-size: 18px;
	 font-weight: 300;
	 text-transform: uppercase;
	 letter-spacing: 3px;
}

.header {
	position: relative;
	box-shadow: 0px 3px 1px #eee;
	nav.navbar {
		min-height: 80px !important;
		@include mobile {
			min-height: 72px !important;
		}


		ul.nav a{
			color: #5a5a5a;
			padding: 1.5rem 3rem;
			font-weight: bold;
			border-bottom: 2px solid transparent;
			transition: all 0.2s ease-in-out;
			&:hover{
				border-bottom: 2px solid $nav;
				background: transparent;
			}
		}

	}
	.navbar-header {
		//position: absolute;
		padding-bottom: 1em;

		@include mobile {
			left: 0;
			position: relative;
			padding-bottom: 0;

			.navbar-toggle {
				margin-left: 8em;
				margin-top: 1em;
			}
		}
		@include tab {
			left: 0;
			border-bottom: 1px solid $primary + 100;
		}

	}
	.navbar-brand {
		width: 22rem;
		margin: 0 auto;
		padding-bottom: 2em;
		@include mobile {
			width: 150px;
		}

		img {
			width: inherit;
			padding: 1px;
		  margin-top: -15px;
		  border-width: 1px;
			@include tab {
				padding: .5rem;
				margin-top: -1.5rem;
			}
		    /*
				Border red remove

		    border-style: solid;
		    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
		    -webkit-border-image: -webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
		    -moz-border-image: -moz-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
		    -o-border-image: -o-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
		    border-image: linear-gradient(to bottom, #F27D3C, rgba(0, 0, 0, 0)) 1 93%; */
		}
	}
	.navbar-left, .navbar-right{
		margin-top: 5rem;
	}

	.navbar-toggle {
		.fa{
			color: $primary;
			//margin-top: 2rem;
		}

	}
}
.footer {
	.quicknav {

		li {
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid #5a5a5a;

		}
	}
}

.clients {
	background-color: #5a5a5a;
	height: 300px;

	h2 {
		text-align: center;
		padding: 75px 0 25px;
	}
}
///// ABOUT /////

.process {
	position: relative;
	h3,p {
		text-align: center;
		text-shadow: 1px 1px 1px #ddd;
		margin-top: 25px;
	}
	.content {
		margin: 100px 0;
		div,i {
			float: left;
		}

		i{
			padding: 25px;
			background-color: rgb(240, 154, 108);
			border-radius: 100px;
		}
		.test {
			margin-top: 50px;
		}
	}

	.doted {
		width: 380px;
		height: 380px;
		background-color: transparent;
		border-radius: 200px;
		border: 2px dotted rgb(240, 154, 108);
		position: absolute;
		top: 0;
		left: 30px;
	}
	.hide1 {
		width: 400px;
		height: 200px;
		background-color: #55a;
		position: absolute;
		top: 0;
		left: 30px;

	}
	.doted2 {
		width: 380px;
		height: 380px;
		background-color: transparent;
		border-radius: 200px;
		border: 2px dotted rgb(240, 154, 108);
		position: absolute;
		bottom: 0;
		right: 30px;
	}
}



///// COUNTRY /////

.country {
	margin-bottom: 50px;
	h1 {
		color: #5a5a5a;
		text-shadow: 0px 1px 1px #856F1B;
		margin: 50px 0 40px;
		font-family: $title-font;
	}

	.intro {
		padding: 50px 10px;
		text-align: justify;
		border-top: 1px solid #ccc;

	}

	article {
		padding: 0 25px;

		img {
			margin: 5px 0 50px 25px ;
			width: 85%;
			box-shadow: 2px 2px 4px #5a5a5a;
		}

		ul {
			padding-left: 25px;
		}
		div {
			margin: 50px 0;
			color: #444;

			h4 {
				margin: 30px 0 10px;
				font-size: 1.7em;
			}
		}
	}

	aside {
		box-shadow: 1px 2px 5px #ddd, -1px 0px 5px #ddd;
		padding-top: 20px;

		div {
			border-bottom: 1px solid #ddd;
			margin-top: 20px;
		}

		ul {
			padding: 15px;

			li {
				border-bottom: 1px solid #eee;
				padding: 5px 1px;
			}
		}



		.flags {
			padding-bottom: 30px;
			a {
				width: 30%;

				img {
					padding: 10px;
					width: inherit;
				}
			}
		}
	}
}
.nav.navbar-nav {
	.menu-item-has-children{

		ul.sub-menu {
			padding: 0;
			background: #fff;
			position: absolute;
			top: 50px;
			display: none;

			li {
				display: block;
				width: 100%;
				a{
					padding: 10px 1.618rem;
					display: block;
				}
			}


			.sub-menu {
				width: auto;
				position: static;
				padding: 8px 0 0 15px;
				li {
					display: block;
				}
			}
		}

		&:hover {
			ul.sub-menu {
				display: block;
			}
		}
	}

}
/* Quick FIxES */
.other-services{
	list-style: none;
	display: block;
	padding: 0 !important;
	li{
		padding: 0;
		.fa{
			vertical-align: middle;}
		span.title{
			margin-left: .618rem;
			font-size:1.618rem;
		}
		a{
			padding: 5px 15px;
			display: block;
			line-height: 2.1;
			width: 100% !important;
			min-height: 45px;
			color:black;
			 &:hover{
			 	.fa{
			 		color:#00579E;
			 	}
			 	box-shadow: 0px 1px 2px #ccc;
			 }

		}

	}

}
.current-menu-item{
	a{
		border-bottom:2px solid $nav + 10 !important;
		height:110%;
		color:$nav !important;
		transition: all 0.2s ease-in-out;
		&:hover{
			color: $primary !important;
		}
	}
}
@include mobile {

	.header .navbar-header{
		width: 100% !important;

	}
	.header nav.navbar{
		min-height: 70px !important;
	}

}
.slider-content{
	padding: 0rem 1rem;
	width:80%;
	margin: 0 auto;
}
.cramp-3{
	line-height: 20px;
	text-overflow: ellipsis;
	display: -webkit-box;
	max-height: 75px;      /* fallback */
	-webkit-line-clamp: 3; /* number of lines to show */
	-webkit-box-orient: vertical;
	overflow: hidden;
	color:black;

}
.margin-fix{
	padding-bottom: 2rem;
	margin-bottom: 3.14rem;
}
.recent-news-heightfix{
	min-height: 70px !important;
	&:hover{
		background: #005893;
		color:white;
	}
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse{
	max-height: 800px !important;
}
.wpcf7-form{
	position: relative;
	display: block;
	height: 250px;
	@include mobile {
		height: inherit !important;
	}
	input[type="submit"]{
		height: auto !important;
	}
	p {
		input, textarea {
			width: 450px;
			@include mobile {
				width: 100% !important;
				position: relative;
			}
		}
		input{
			height: 40px;
			@include mobile {
				height: auto;
			}
		}
		@include mobile {
			width: 95%;
			position: static !important;
			margin: 0 auto;
			float: none;

		}
		width: 45%;
		color: #979797;
		font-family: $subtitle-font !important;
		float: left;
		text-transform: uppercase;
		position: absolute;
		font-size: 18px;
		letter-spacing: 2px;
		font-weight: 200;

		&:nth-child(2) {
			@include mobile {
				left: 0;
				right: 0;
				position: static !important;
			}
			top: 0;
			left: 120px;
		}
		&:nth-child(3) {
			@include mobile {
				left: 0;
				right: 0;
				position: static !important;
			}
			top: 80px;
			left: 120px;
		}
		&:nth-child(4) {
			@include mobile {
				left: 0;
				right: 0;
				position: static !important;
			}
			top: 160px;
			left: 120px;
		}
		&:nth-child(5) {
			@include mobile {
				left: 0;
				right: 0;
				position: static !important;
			}
			textarea {
				height: 120px;
			}
			top: 0;
			right: 40px;
		}
		&:nth-child(6) {
			@include mobile {
				left: 0;
				right: 0;
				position: static !important;
			}
			right: 40px;
			bottom: 7px;
			input {
				background: #3088bb;
				border-color: #3088bb;
				color: #fff;
				line-height: 3;
				text-transform: uppercase;
			}
		}
	}
}

.panel-default>.panel-heading{
	background-color: $dark-color !important;
	.panel-title{
		color : white !important;
	}
}

.map{
	position: relative;
	.facebook{
		position: absolute;
		right: 0;
		top: 0;
		@include mobile {
			display: none;
		}
	}
}
.callout{
	background: $primary;
  @include angle(both);
	h2{
		color:white;

	}
	.btn{
		color:white !important;
		background: $nav;
		line-height: 3;
		font-size: 1.618rem;
		text-transform: uppercase;
		padding-left: 1.618rem;
		padding-right: 1.618rem;
		@include mobile {
			margin: 0 auto;
			text-align: center;
		}
	}
}

footer{
	ul{
		padding: 0;
		margin: 0;
		li.page_item {
			list-style: none;
			line-height: 1.6;
			a{
				color: white;
				text-decoration: none;
			}

		}
	}
}

.footer-column{
	text-align: center;
}

.copyright{
	.pull-right{
		@include mobile {
			float: none !important;

		}
	}
}
#quote{
	  @include angle(before, true);
}
.home.section-title{
	  @include angle(before, true);
		left:-20%;
		@include tab {
			width: 117vw;
		}
		width: 109vw;
		background: #00579E;
		height: 100%;
		color: white !important;
		margin-bottom: 8rem;
		padding:2rem;
}
