/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400italic|Exo+2|Play|Orbitron|Armata|Ubuntu);
/* line 45, ../sass/_mixins.scss */
button.custom, .button.custom {
  background-color: #3ADB3A;
  border-color: #22bb22;
  color: #FFFFFF;
}

/* line 49, ../sass/_mixins.scss */
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
  background-color: #22bb22;
}

/* line 51, ../sass/_mixins.scss */
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
  color: #FFFFFF;
}

/* line 22, ../sass/screen.scss */
.center {
  text-align: center !important;
}

/* line 30, ../sass/screen.scss */
.scroll-up {
  border-style: solid;
  border-width: 0 0 48px 48px;
  border-color: transparent transparent rgba(27, 18, 18, 0.6) transparent;
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 0;
  height: 0;
  z-index: 999;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  -moz-transition: -moz-transform 0.8s ease-in-out;
  -o-transition: -o-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}

/* line 47, ../sass/screen.scss */
.scroll-up a {
  position: relative;
  display: inline-block;
  padding: 22px;
  bottom: 0px;
  left: -44px;
  font-size: 18px;
  color: #FFF;
}

/* line 57, ../sass/screen.scss */
.scroll-up a:hover {
  color: #D12424;
}

/* line 64, ../sass/screen.scss */
.slider {
  height: 610px;
  width: 100% !important;
  overflow: hidden;
  box-shadow: 0px 2px 2px #ddd;
}
/* line 70, ../sass/screen.scss */
.slider .owl-carousel {
  text-align: center;
  height: inherit;
  color: #fff;
}
/* line 75, ../sass/screen.scss */
.slider .owl-carousel .owl-item {
  height: 700px;
  padding-top: 200px;
  text-shadow: 1px 1px 1px #5a5a5a;
  background-color: rgba(47, 47, 47, 0.4);
}
/* line 81, ../sass/screen.scss */
.slider .owl-carousel .owl-item img {
  width: 100px;
  margin: 50px;
}

/* line 93, ../sass/screen.scss */
.dropdown-menu {
  width: 800px !important;
  margin-left: -90px;
}

/* line 97, ../sass/screen.scss */
.equal-height-list {
  border-right: 1px solid #ddd;
  padding-left: 10px !important;
}
/* line 101, ../sass/screen.scss */
.equal-height-list li {
  margin: 5px auto;
  width: 120%;
}
/* line 105, ../sass/screen.scss */
.equal-height-list li a {
  padding: 5px 10px !important;
  margin: 0 !important;
}

/* line 112, ../sass/screen.scss */
#page {
  background-color: #fff;
}

/* line 118, ../sass/screen.scss */
.funny-box .funny-box-text ul {
  position: relative;
  padding-bottom: 25px;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 0;
}

/* line 130, ../sass/screen.scss */
.pricing-table .pricing-wrapper > .pricing-column > .plan-title > h2 {
  display: block;
  margin: 0;
  height: 74px;
  line-height: 74px;
  background-color: #D12424;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* line 143, ../sass/screen.scss */
.header {
  position: relative;
  box-shadow: 0px 3px 1px #eee;
}
/* line 146, ../sass/screen.scss */
.header nav.navbar {
  min-height: 80px !important;
}
@media screen and (max-width: 640px) {
  /* line 146, ../sass/screen.scss */
  .header nav.navbar {
    min-height: 72px !important;
  }
}
/* line 153, ../sass/screen.scss */
.header nav.navbar ul.nav a {
  color: #5a5a5a;
  margin: 0 2em;
}
/* line 157, ../sass/screen.scss */
.header nav.navbar .navbar-left {
  margin-left: 8em;
}
@media screen and (max-width: 640px) {
  /* line 157, ../sass/screen.scss */
  .header nav.navbar .navbar-left {
    margin-left: 0px !important;
  }
}
/* line 163, ../sass/screen.scss */
.header nav.navbar .navbar-right {
  margin-right: 10em;
}
/* line 165, ../sass/screen.scss */
.header .navbar-header {
  position: absolute;
  padding-bottom: 1em;
  left: 44%;
}
@media screen and (max-width: 640px) {
  /* line 165, ../sass/screen.scss */
  .header .navbar-header {
    left: 0;
    border-bottom: 1px solid #ff8888;
    position: relative;
    padding-bottom: 0;
  }
  /* line 175, ../sass/screen.scss */
  .header .navbar-header .navbar-toggle {
    margin-left: 8em;
    margin-top: 1em;
  }
}
@media screen and (max-width: 1024px) {
  /* line 165, ../sass/screen.scss */
  .header .navbar-header {
    left: 0;
    border-bottom: 1px solid #bccae6;
  }
}
/* line 186, ../sass/screen.scss */
.header .navbar-brand {
  width: 200px;
  margin: 0 auto;
  padding-bottom: 2em;
}
@media screen and (max-width: 640px) {
  /* line 186, ../sass/screen.scss */
  .header .navbar-brand {
    width: 150px;
  }
}
/* line 194, ../sass/screen.scss */
.header .navbar-brand img {
  width: inherit;
}
/* line 199, ../sass/screen.scss */
.header .navbar-collapse {
  margin-top: 25px;
}
/* line 202, ../sass/screen.scss */
.header .navbar-fixed-top .navbar-collapse, .header .navbar-fixed-bottom .navbar-collapse {
  max-height: 500px;
}
/* line 206, ../sass/screen.scss */
.header .navbar-toggle .fa {
  color: #ddd;
}

/* line 213, ../sass/screen.scss */
.footer .quicknav li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #5a5a5a;
}

/* line 222, ../sass/screen.scss */
.clients {
  background-color: #5a5a5a;
  height: 300px;
}
/* line 226, ../sass/screen.scss */
.clients h2 {
  text-align: center;
  padding: 75px 0 25px;
}

/* line 233, ../sass/screen.scss */
.process {
  position: relative;
}
/* line 235, ../sass/screen.scss */
.process h3, .process p {
  text-align: center;
  text-shadow: 1px 1px 1px #ddd;
  margin-top: 25px;
}
/* line 240, ../sass/screen.scss */
.process .content {
  margin: 100px 0;
}
/* line 242, ../sass/screen.scss */
.process .content div, .process .content i {
  float: left;
}
/* line 246, ../sass/screen.scss */
.process .content i {
  padding: 25px;
  background-color: #f09a6c;
  border-radius: 100px;
}
/* line 251, ../sass/screen.scss */
.process .content .test {
  margin-top: 50px;
}
/* line 256, ../sass/screen.scss */
.process .doted {
  width: 380px;
  height: 380px;
  background-color: transparent;
  border-radius: 200px;
  border: 2px dotted #f09a6c;
  position: absolute;
  top: 0;
  left: 30px;
}
/* line 266, ../sass/screen.scss */
.process .hide1 {
  width: 400px;
  height: 200px;
  background-color: #55a;
  position: absolute;
  top: 0;
  left: 30px;
}
/* line 275, ../sass/screen.scss */
.process .doted2 {
  width: 380px;
  height: 380px;
  background-color: transparent;
  border-radius: 200px;
  border: 2px dotted #f09a6c;
  position: absolute;
  bottom: 0;
  right: 30px;
}

/* line 291, ../sass/screen.scss */
.country {
  margin-bottom: 50px;
}
/* line 293, ../sass/screen.scss */
.country h1 {
  color: #5a5a5a;
  text-shadow: 0px 1px 1px #856F1B;
  margin: 50px 0 40px;
  font-family: 'sans-serif';
}
/* line 300, ../sass/screen.scss */
.country .intro {
  padding: 50px 10px;
  text-align: justify;
  border-top: 1px solid #ccc;
}
/* line 307, ../sass/screen.scss */
.country article {
  padding: 0 25px;
}
/* line 310, ../sass/screen.scss */
.country article img {
  margin: 5px 0 50px 25px;
  width: 85%;
  box-shadow: 2px 2px 4px #5a5a5a;
}
/* line 316, ../sass/screen.scss */
.country article ul {
  padding-left: 25px;
}
/* line 319, ../sass/screen.scss */
.country article div {
  margin: 50px 0;
  color: #444;
}
/* line 323, ../sass/screen.scss */
.country article div h4 {
  margin: 30px 0 10px;
  font-size: 1.7em;
}
/* line 330, ../sass/screen.scss */
.country aside {
  box-shadow: 1px 2px 5px #ddd, -1px 0px 5px #ddd;
  padding-top: 20px;
}
/* line 334, ../sass/screen.scss */
.country aside div {
  border-bottom: 1px solid #ddd;
  margin-top: 20px;
}
/* line 339, ../sass/screen.scss */
.country aside ul {
  padding: 15px;
}
/* line 342, ../sass/screen.scss */
.country aside ul li {
  border-bottom: 1px solid #eee;
  padding: 5px 1px;
}
/* line 349, ../sass/screen.scss */
.country aside .flags {
  padding-bottom: 30px;
}
/* line 351, ../sass/screen.scss */
.country aside .flags a {
  width: 30%;
}
/* line 354, ../sass/screen.scss */
.country aside .flags a img {
  padding: 10px;
  width: inherit;
}

/* line 365, ../sass/screen.scss */
.nav.navbar-nav .menu-item-has-children ul.sub-menu {
  background: #fff;
  position: absolute;
  top: 55px;
  width: 615px;
  padding: 15px 0 15px 15px;
  display: none;
}
/* line 373, ../sass/screen.scss */
.nav.navbar-nav .menu-item-has-children ul.sub-menu li {
  display: inline-block;
}
/* line 378, ../sass/screen.scss */
.nav.navbar-nav .menu-item-has-children ul.sub-menu .sub-menu {
  width: auto;
  position: static;
  padding: 8px 0 0 15px;
}
/* line 382, ../sass/screen.scss */
.nav.navbar-nav .menu-item-has-children ul.sub-menu .sub-menu li {
  display: block;
}
/* line 389, ../sass/screen.scss */
.nav.navbar-nav .menu-item-has-children:hover ul.sub-menu {
  display: block;
}
